<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AC1 - Descriptografar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="full" (click)="descrypt()">Descriptografar</ion-button>

  <ion-item>
    <ion-label>Nome Descriptografado:</ion-label>
    <ion-textarea [(ngModel)]="descryptedNome" readonly></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Email Descriptografado:</ion-label>
    <ion-textarea [(ngModel)]="descryptedEmail" readonly></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Menssagem Descriptografada:</ion-label>
    <ion-textarea [(ngModel)]="descryptedMenssagem" readonly></ion-textarea>
  </ion-item>

  <ion-label>{{descryptedNome}}</ion-label>
  <ion-label>{{descryptedEmail}}</ion-label>
  <ion-label>{{descryptedMenssagem}}</ion-label>
</ion-content>
